@import url('https://fonts.googleapis.com/css2?family=Good+Pro:wght@400;700&display=swap');

:root {
  --primary-color: #004BFA;
  --background-color: #00123B;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Good Pro', sans-serif;
}

.pageHeaderContainer {
  padding: 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: grid;
  align-items: center;
}

.pageHeaderContainer > h1 {
  color: white;
  font-size: 48px;
  margin: 0px;
  /* padding-left: 60px; */
}

@media(max-width: 700px) {
  .pageHeaderContainer {
    padding: 100px 25px 50px 25px;
  }

  .pageHeaderContainer > h1 {
    text-align: center;
    justify-self: center;
    font-size: 40px;
  }
}

.primaryButton {
  background-color: var(--primary-color);
  color: white;
  border: 0px;
  height: 40px;
  padding: 0px 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.contentTextTitle {
  font-size: 48px;
  margin: 0px;
  font-weight: 400;
}

.contentTextParagraph {
  font-size: 16px;
  margin: 20px 0px;
}

.contentButton {
  min-width: 200px;
}

@media(max-width: 900px) {
  .contentTextTitle {
    font-size: 40px;
  }
}